@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
  url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

/* Сustom properties  */

:root {
  --basic-white: #ffffff;
  --background-footer: #030102;
  --button-buy-tickets: #151515;
}

/* Index */
.page,
.page-body {
  font-size: 62.5%; /* стандартный шрифт в браузере 16px, мы делаем его 10px, чтобы 1 rem = 10px */
}

.page {
  height: 100%;
}

.page-body {
  min-width: 124rem;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 114%;
  display: grid;
  grid-template-rows: 1fr min-content min-content; /* было min-content 1fr min-content; поменялось направление потока  */
  align-content: start;
  color: var(--basic-white);
  position: relative;  /*Чтобы шапка не уезжала*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.main-header {
  position: absolute;
  padding-bottom: 9.5rem;
  left: 50%;
  top: 6.4rem;
  transform: translate(-50%, 0);
  margin: 0 auto;
}

.container {
  width: 113.5rem; /*rem = 10px*/
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-logo {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
  overflow: hidden; 
}

.site-nav,
.list-social {
  list-style: none;
  padding: 0;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-nav li:not(:last-child) {
  margin-right: 2.4rem;
}

.site-nav a {
  color: var(--basic-white);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 114%;
}

.list-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.list-social li:not(:last-child) {
  margin-right: 2rem;
}

.social-icon {
  width: 1.7rem;
  height: 1.7rem;
}

/* Main */

.main {
  padding-top: 18.7rem;
  background: url(../img/background-img.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

/* Section - about-film */

.title-film {
  margin-bottom: 1.6rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 114%;
}

.rating-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.rating-film {
  display: flex;
  align-items: center;
  margin-right: 0.9rem;
  cursor: pointer;
}

.rating-star {
  width: 1.2rem;
  height: 1.15rem;
  flex-shrink: 0; /* Ставим, чтобы при уменьшении экрана, img не сжалось */
}

.rating-star:not(:last-child) {
  margin-right: 0.4rem;
}

.estimation {
  font-size: 1.2rem;
  line-height: 117%;
}

.header-film {
  font-family: 'Museo Sans 700 Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 7.6rem;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.desc-wrap {
  margin-bottom: 4.1rem;
}

.desc-film {
  max-width: 52.8rem;
}

.desc-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
}

.button-buy-tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24.5rem;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 114%;
  padding: 2.2rem 7.2rem;
  background-color: var(--button-buy-tickets);
  border-radius: 0.8rem;
  margin-bottom: 8.8rem;
}

/* Slider */

.section-main-slider {
  max-width: 41.6rem;
  margin-bottom: 10.4rem;
  display: flex;
  align-items: center;
}

.switch-slider {      /* Кнопка переключатель */
  width: 3.2rem;
  height: 2.2rem;
  flex-shrink: 0;
  margin-left: 2.8rem;
  cursor: pointer;
  outline: none;
}

.main-slider-slide {
  position: relative;
  width: 16.4rem;
  height: 10.5rem;
  border-radius: 0.8rem;
  overflow: hidden; /* помогает обрезать все лишнее, которое не соответсвует размерам нашего блока */
}



.main-slider-slide span {
  position: absolute;
  left: 1.2rem;
  bottom: 0.6rem;
  transform: translate(0, 0);
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
}

.main-slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.main-footer {
  background-color: var(--background-footer);
  padding: 2rem 0;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-text {
  color: var(--basic-white);
  opacity: 0.4;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.list-copyright {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.list-copyright li:not(:last-child) {
  margin-right: 2.5rem;
}

.list-copyright a {
  color: var(--basic-white);
  opacity: 0.4;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
}