@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Global */

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus:not(:focus-visible) {
	outline: none;
}

/* Сustom properties  */

:root {
	--basic-white: #ffffff;
	--background-footer: #030102;
}

/* Index */
.page,
.page-body {
	font-size: 62.5%; /* стандартный шрифт в браузере 16px, мы делаем его 10px, чтобы 1 rem = 10px */
}

.page {
	height: 100%;
}

.page-body {
	min-width: 1240px;
	min-height: 100%;
  	margin: 0;
 	padding: 0;
 	background: url(../img/background-img.jpg) no-repeat;
 	background-size: 100%;
 	font-size: 14px;
  	font-weight: 400;
  	line-height: 16px;
  	display: grid;
  	grid-template-rows: min-content 1fr min-content;
  	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Header */

.main-header {
	padding-top: 6.4rem;
	padding-bottom: 9.4rem;
}

.container {
	width: 113.5rem; /*rem = 10px*/
	margin: 0 auto;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper-nav {
	display: flex;
	width: 100%;
	align-items: center;
}

.header-logo {
	width: 7.9rem;
	height: 2.8rem;
	margin-right: 3.9rem;
}

.site-nav,
.list-social {
	list-style: none;
	padding: 0;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.site-nav li:not(:last-child) {
	margin-right: 2.4rem;
}

.site-nav a {
	color: var(--basic-white);
}

.list-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.list-social li:not(:last-child) {
	margin-right: 2rem;
}

.social-icon {
	width: 1.7rem;
	height: 1.7rem;
}

/* Footer */

.main-footer {
	background-color: var(--background-footer);
	padding: 2rem 0;
	flex: 0 0 auto;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright-text {
	color: var(--basic-white);
	opacity: 0.4;
	font-size: 14px;
  	font-weight: 400;
  	line-height: 20px;
  	margin: 0;
}

.list-copyright {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.list-copyright li:not(:last-child) {
	margin-right: 2.5rem;
}

.list-copyright a {
	color: var(--basic-white);
	opacity: 0.4;
	font-size: 14px;
  	font-weight: 400;
  	line-height: 20px;
}